/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.logo {
    animation: none;
}
.logo:hover {
    animation: logo_hover_rotate 1s;
}
.main-wrapper{
    background:
        linear-gradient(0deg,#ffc0ff80,#0000),
        linear-gradient(135deg,#ffc0cf,#cfc0ff);
}
.hero{
    --ifm-hero-text-color:#95e;
    background: none;
    /* height: calc(max(24em, 60vh)); */
    /* transform-origin: 46.9% 53%; */
}
.footer--dark {
    --ifm-footer-background-color: #383046;
}
@keyframes logo_hover_rotate{
    100%{
        rotate: 1turn;
    }
}