.heroBanner {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    --ifm-hero-text-color: #9955EE;
}

@media screen and (max-width: 996px) {
    .heroBanner {
        padding: 2rem;
    }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 140px;
    height: auto;
    animation: rotateAndShake 2s linear infinite;
}

@keyframes rotateAndShake {
    0% {
        transform: rotate(0deg) translateX(0);
    }
    25% {
        transform: rotate(90deg) translateX(-5px);
    }
    50% {
        transform: rotate(180deg) translateX(0);
    }
    75% {
        transform: rotate(270deg) translateX(5px);
    }
    100% {
        transform: rotate(360deg) translateX(0);
    }
}
